.menu_cart h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

.cart_h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin:8px 0;
	text-align:center;
	font-family: 'Roboto Slab', serif;
}

.menu_cart h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}

.menu_cart p {
    font-size: var(--font-micro);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
    font-family: 'Montserrat', sans-serif;
}

.menu_cart {
    display: flex;
    max-width:100%;
    justify-content: center;
    padding: 20px 0 30px 0;
}

.cart_table th {
    position: relative;
    height: 40px;
    padding: 8px;
    background-color: #e27049;
    box-shadow: 0 1px 0 0 #E1E1E8;
    letter-spacing: -0.1px;
    line-height: 24px;
    vertical-align: middle;
    font-size:100pt;
}

.cart_table tr td {
    height: 50px;
    padding: 8px;
    background-color: #fff;
    letter-spacing: -0.1px;
    line-height: 24px;
    border-bottom: 1px solid #E1E1E8;
    vertical-align: middle;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}




.info_textarea {
    width: 200px;
    height: 250px;
}

.info_input::placeholder {
    font-size: var(--font-micro);
    font-family: "Open Sans", sans-serif;
}

/* Footer */
#footer {
    background-color: var(--color-light-brown);
    padding: 35px 16px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    .navbar_toggle-btn {
        display: block;
        right: 16px;
        font-size: var(--font-medium);
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-light-brown);
    }

    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar_menu.open {
        display: block;
    }

    .section {
        padding: 16px;
        padding-top: 40px;
    }

    .menu_admin {
        display: flex;
        justify-content: center;
    }

    #minusbtn,
    #plusbtn {
        width: 25px;
        font-size: 15px;
    }
}