/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-brown: #a52a2a;
    --color-light-brown: #f5f0e6;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

/* Header */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light-brown);
    padding: 8px 16px;
    z-index: 1;
}

.navbar_menu {
    display: flex;
}

.navbar_menu_item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-black);
    cursor: pointer;
}

.navbar_toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
}
/* Coffee menu detail */
#menu {
    padding-top: 110px;
}

.coffee_pictureinfo {
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.picture_box {
    margin: 0 50px;
    width: 400px;
}

.info_top {
    display: block;
    border-bottom: 2px solid var(--color-orange);
}


.info_number {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#minusbtn,
#plusbtn {
    width: 30px;
    font-size: 20px;
    color: var(--color-brown);
    background-color: var(--color-light-brown);
    border-color: var(--color-light-white);
    border-radius: 5px;
}

#minusbtn,
#plusbtn:hover {
    cursor: pointer;
}

#qtyText {
    width: 50px;
    text-align: center;
    font-size: 20px;
    border: none;

}

/* Footer */
#footer {
    background-color: var(--color-light-brown);
    padding: 35px 16px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    .navbar_toggle-btn {
        display: block;
        right: 16px;
        font-size: var(--font-medium);
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-light-brown);
    }

    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar_menu.open {
        display: block;
    }

    .coffee_pictureinfo {
        padding-top: 16px;
    }

    .section {
        padding: 16px;
        padding-top: 40px;
    }

    .category_btn {
        margin: 4px 0;
        width: 100%;
    }

    .coffee_img {
        width: 300px;
    }

    .info_number {
        margin-top: 8px;
        display: flex;
        justify-content: center;
    }

    #minusbtn,
    #plusbtn {
        width: 25px;
        text-align: center;
        font-size: 15px;
    }

    #qtyText {
        width: 40px;
        text-align: center;
        font-size: 15px;
    }
}