/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-light-brown: #f5f0e6;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-micro);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Header */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light-brown);
    padding: 8px 16px;
    z-index: 1;
}

.navbar_menu {
    display: flex;
}

.navbar_menu_item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-black);
    cursor: pointer;
}

.navbar_toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-black);
    display: none;
}

/* Section common */
.section {
    padding: 50px;
    margin: auto;
    text-align: center;
}

.section_container {
    max-width: 90%;
    margin: auto;
}

/* Menu */
#menu {
    padding-top: 110px;
}

.coffee_categories {
    margin: 40px;
}

.category_btn {
    border: 1px solid var(--color-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 24px;
    position: relative;
}

.category_btn.selected,
.category_btn:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.category_btn.selected .category_count,
.category_btn:hover .category_count {
    opacity: 1;
    top: 0;
}

.coffee_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}

.coffee_contents.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 8px;
    background-color: var(--color-light-white);
    overflow: hidden;
}

.content_box.invisible {
    display: none;
}

.coffee_img {
    width: 100%;
    height: 100%;
}

.coffee_img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform .5s;
}

.coffee_name {
    display: flex;
    justify-content: center;
}

/* Footer */
#footer {
    background-color: var(--color-light-brown);
    padding: 35px 16px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    .navbar_toggle-btn {
        display: block;
        right: 16px;
        font-size: var(--font-medium);
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-light-brown);
    }

    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar_menu.open {
        display: block;
    }

    .section {
        padding: 16px;
        padding-top: 40px;
    }

    .category_btn {
        margin: 4px 0;
        width: 100%;
    }
}